<ul class="record_actions">
    <li>
        <a href="{{ path('sgl_flts_'~entity_name~'_new') }}" class="create">
            {% trans with {'%entity_name%': entity_name} %}Create a new %entity_name%{% endtrans%}
        </a>
    </li>
</ul>