<ul class="record_actions">
    <li>
        <a href="{{ path('sgl_flts_'~entity_name~'_show', { 'id': entity.id }) }}" class="show">{% trans %}Show{% endtrans%}</a>
    </li>
    <li>
        <a href="{{ path('sgl_flts_'~entity_name~'_edit', { 'id': entity.id }) }}" class="edit">{% trans %}Edit{% endtrans%}</a>
    </li>
    <li>
        <a href="{{ path('sgl_flts_part_list_all', { 'id_project': entity.id }) }}" class="edit">{% trans %}Parts list{% endtrans%}</a>
     </li>
</ul>