/*
 * FLTS invoices
 * SGL
 */

body#invoice {
    margin:0;
    padding:0;
    background-color:#ffffff;
    font: 62.5%/140% Arial, sans-serif;
    color: #000000;
}

body#invoice #wrapper {
    width:660px;
    margin:0 auto;
}

body#invoice th {
    color:#808080;
    text-align:left;
    vertical-align: top;
    font-weight:300;
    padding-bottom:10px;
}
body#invoice td {
    vertical-align: top;
    padding-bottom:10px;
}

body#invoice header {
    height:60px;
}
body#invoice header #logo {
    float:left;
}
body#invoice header table {
    width:240px;
    float:right;
}

body#invoice table#project {
    width:100%;
    height: 170px;
}
body#invoice table thead th,
#task-details {
    color:#000000;
    font-size:10px;
    padding-bottom:4px;
    border-bottom:2px solid #eeedeb;
}

body#invoice #purchase-order {
    padding-top:10px;
    padding-bottom:0;
}

body#invoice #purchase-order th {
    padding-right:10px;
    white-space:nowrap;
}

body#invoice #client {
    vertical-align: middle;
    width:280px;
}
body#invoice #client_logo {
    margin-bottom:10px;
}

table#bill-body-content {
    border-collapse: collapse;
    font:normal 10px/16px 'Arial';
    width:660px;
    border:0;
    margin-top:6px;
}

body#invoice #subtotal {
    float:right;
    width:230px;
    margin:10px 0;
    text-align:right;
}

body#invoice #subtotal {
    font-size:11px;
}
body#invoice #subtotal td {
    padding: 3px 7px 2px 5px;
}
body#invoice #subtotal strong {
    font-size:12px;
}

body#invoice footer {
    clear:both;
    margin-top:10px;
}

body#invoice footer table th,
body#invoice footer table td {
    padding:0 0 2px 0;
}
body#invoice footer table#total {
    border:2px solid #000000;
    font-size:12px;
    font-weight:bold;
    text-align:right;
}

body#invoice footer table#total td {
    padding:5px 5px 5px 5px;
    font-size:13px;
    line-height:15px;
}

/*Also  used elsewhere */
table#bill-body-content th {
    font-size:12px;
    font-weight:bold;
    border-bottom:0;
}
table#bill-body-content th:first-child {
    text-align: left;
    width:90%;
}
table#bill-body-content th:last-child {
    text-align: right;
    width:10%;
    padding-right:7px;
}
table#bill-body-content td {
    border: 2px solid #f6f6f6;
    padding:4px 7px 4px 4px;
}
table#bill-body-content td:last-child {
    text-align:right;
}

table#bill-body-content h3 {
    margin:0;
    padding:0;
    font-size:12px;
    font-weight:300;
}
table#bill-body-content ul {
    margin:0;
    padding:0;
    font-size:9px;
}
table#bill-body-content ul li {
    list-style-type:none;
    padding-left:13px;
    background:transparent url(/bundles/sglflts/images/bullets/bull.png) 4px 6px no-repeat;
    line-height:14px;
}
table#bill-body-content strong {
    font-size:13px;
    font-weight:bold;
}

table#bill-body-content tfoot tr:last-child td {
    padding-top:50px;
    vertical-align: bottom;
}

#footernotes {
    font-size:10px;
    margin:10px 0 0;
    padding:0;
}