/*
 * FLTS default theme
 * SGL
 */

body {
    margin:0;
    padding:0 0 20px;
    background-color:#ffffff;
    font: 75%/140% Arial, sans-serif;
    color: #464646;
}

#wrapper,
footer {
    width:1000px;
    margin:0 auto;
}

#top-bar {
    height:22px;
    padding:11px;
    background:#f3f3f3 url(/bundles/sglflts/images/tiles/top-bar.gif) left top repeat;
}

#recent-projects {
    float:right;
}

#main-nav {
    width:140px;
    float:left;
    margin-right:6px;
    background-color:#f6f6f6;
    min-height:400px;
}
#main-nav strong {
    display:block;
    margin:1em 0 0.333em 0;
    background-color:#e6e6e6;
    padding:4px 6px;
}
#main-nav strong:first-child {
    margin-top:0;
}

#main-nav ul {
    margin:0;
    padding:0 6px;
}

#action-nav {

}
#action-nav ul {
    list-style-type:none;
    margin:0 0 0 160px;
    padding:0;
}
#action-nav ul li {
    float:left;
    border-right: 1px solid #dddddd;
    padding-right:10px;
    margin-right:10px;
}
#action-nav ul li:last-child {
    border:0;
}

#content {
    width:810px;
    padding:10px 20px;
    float:right;
    margin:0 0 20px;
    min-height:380px;
}
.home-body #content,
.security-body #content {
    width:auto;
    float:none;
    min-height:200px;
}


#content,
#action-bar,
#main-nav {
    border:1px solid #cccccc;
    border-color:#e6e6e6 #cccccc #cccccc #e6e6e6;
    -webkit-box-shadow: 0 2px 2px #ddd; 
    -moz-box-shadow: 0 2px 2px #ddd; 
    box-shadow: 0 2px 2px #ddd;
}

#identification_title {
    border-bottom: 3px solid #EEE;
    padding: 10px 0;
    margin-bottom: 15px;
    height:35px;
}

#identification_title h1 {
    color: #BBB;
    text-transform: uppercase;
    font-size: 1.6em;
    margin: 0;
    padding:0;
}
#identification_title h2 {
    color: #BBB;
    text-transform: uppercase;
    font-size: 1.333em;
    margin: 0;
    padding:0;
}
/***********************************************************
 * RECORDS LIST
 */

table.records_list,
table.summary,
table.record_properties {
    border-spacing: 0;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc; 
    -moz-box-shadow: 0 1px 1px #ccc; 
    box-shadow: 0 1px 1px #ccc;
}

table.records_list {
    width:810px;
}

table.records_list tr:hover,
table.record_properties tr:hover {
  background-color: #ffe;
}

table.records_list th,
table.record_properties thead th {
    text-align: left;
    text-shadow: 0 1px 0 rgba(255,255,255,.9); 
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    background-color: #E7EEF6;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#DCE9F9), to(#E7EEF6));
    background-image: -webkit-linear-gradient(top, #DCE9F9, #E7EEF6);
    background-image:    -moz-linear-gradient(top, #DCE9F9, #E7EEF6);
    background-image:     -ms-linear-gradient(top, #DCE9F9, #E7EEF6);
    background-image:      -o-linear-gradient(top, #DCE9F9, #E7EEF6); 
    background-image:         linear-gradient(top, #DCE9F9, #E7EEF6);
}

table.records_list th:first-child,
table.record_properties thead th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
    border-left:0;
}

table.records_list th:last-child,
table.record_properties thead th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

table.records_list th:only-child,
table.record_properties thead th:only-child {
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

table.records_list th,
table.records_list td {
    padding:6px 20px 6px 10px;
    vertical-align:top;
}
table.records_list th:last-child,
table.records_list td:last-child {
    padding-right:10px;
}
table.records_list td {
    border-bottom:1px solid #dddddd;
}
table.records_list tr:last td {
    border:0;
}
table.records_list td.number {
    text-align:center;
    white-space: nowrap;
}

table.records_list td.money {
    text-align:right;
    white-space: nowrap;
}

table.records_list td.string {
    text-align:left;
}
table.records_list td.string a,
table.records_list td.date a {
    color:#464646;
}
table.records_list td.date {
    text-align:left;
    white-space: nowrap;
}
table.records_list td.boolean {
    text-align:center;
    white-space: nowrap;
}
table.records_list td.closed {
    color:#cccccc;
    text-decoration:line-through;
}
table.records_list td.header {
    background-color:#f3f3f3;
}
table.records_list td .three {
    float:left;
    width:28%;
    margin-right:20px;
}
table.records_list td.actions {
    white-space: nowrap;
    padding-right:0;
}
table.records_list td.checkbox {
    text-align:center;
}
table.records_list td.empty {
    color:#bbbbbb;
}

table.records_list td.actions ul.record_actions li {
    margin-right:6px;
}

table.records_list_extend th,
table.records_list_extend td {
    padding:6px;
    vertical-align: top;
}

table.records_list td p {
    margin-top:0;
}

.record_actions_ctn {
    margin:1em 0;
    background-color:#f9f3f3;
    padding:6px 6px 6px 10px;
}

.row {
    margin-bottom:0.5em;
}

ul.record_actions {
    margin:0;
    padding:0;
    display:inline;
    list-style-type:none;
}

ul.record_actions li {
    display: inline-block;
    margin-right: 13px;
}
ul.record_actions li.very-last {
    float:right;
    margin-right:0;
}
ul.record_actions li:last-child {
    margin-right:0 !important;
}

ul.record_actions li a,
ul.record_actions li button {
    display:inline-block;
    padding-left:17px;
    background:transparent url(/bundles/sglflts/images/icons/default.png) left top no-repeat;
    color:#464646;
    text-decoration:none;
    border:0;
    height:18px;
}

ul.record_actions li :hover {
    text-decoration:underline;
}

ul.record_actions li .list {
    background-image: url(/bundles/sglflts/images/icons/list.png);
}
ul.record_actions li .edit {
    background-image: url(/bundles/sglflts/images/icons/edit.png);
}
ul.record_actions li .delete {
    background-image: url(/bundles/sglflts/images/icons/delete.png);
}
ul.record_actions li .delete:hover {
    color:#cc3300;
}
ul.record_actions li a.create {
    background-image: url(/bundles/sglflts/images/icons/new.png);
}
ul.record_actions li .date {
    background-image: url(/bundles/sglflts/images/icons/calendar_view_day.png);
}
ul.record_actions li .report {
    background-image: url(/bundles/sglflts/images/icons/calculator.png);
}
ul.record_actions li .money {
    background-image: url(/bundles/sglflts/images/icons/money_dollar.png);
}
ul.record_actions li .pdf {
    background-image: url(/bundles/sglflts/images/icons/pdf.png);
}
ul.record_actions li .move {
    background-image: url(/bundles/sglflts/images/icons/move.png);
}

table.record_properties tr td,
table.record_properties tr th,
table.summary tr td {
    vertical-align: top;
    padding:10px;
    font-size:0.917em;
    text-align:left;
}

table.summary {
    width:810px;
}

.index-action .actions,
.list-action .actions {
    margin:1.5em 0;
}

.note {
    font-size:0.833em;
}

.task-ident {
    font-size: 0.833em;
    text-transform: uppercase;
    font-weight: bold;
    color: #999;
}


table.record_properties tr td,
table.record_properties tr th {
    font-size:1em;
    padding-right:20px;
}


.report-page table.records_list td.bill,
.bill-page  table.records_list td.bill {
    white-space: nowrap;
}

.highlight {
    background-color: yellow;
}

.select_form_ctn {
    padding:20px;
    background-color:#ffffee;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border:1px solid #cccc66;
}

ul.record_actions li .inactive,
button.inactive {
    opacity: 0.5;
    font-style: italic;
}

/***********************************************************
 * RECORDS FORMS
 */
.image-preview {
    margin: 5px 0 8px;
}

input[type="text"] {
    width: 300px;
    border:1px solid #999999;
    padding:4px;
}
input[type="text"].longtext {
    width:500px;
}
input[type="date"] {
    width: 70px;
    background: transparent url(/bundles/sglflts/images/icons/calendar_view_day.png) 4px center no-repeat;
    border:1px solid #999999;
    padding:4px 4px 4px 24px;
}

input.native-date {
    width:120px; /*Chrome*/
}
textarea { }
textarea.longtext {
    width: 500px;
}
footer {
    clear:both;
    text-align:center;
}

/***********************************************************
 * CUSTOM STYLES
 */

#bill_works_ctn {
    margin-bottom: 1em;
}