{% extends 'SGLFLTSBundle:Theme:layout.html.twig' %}

{% form_theme form 'SGLFLTSBundle:Theme:Common/fields.html.twig' %}

{% block content %}
    {{ parent() }}

    <h1>{% trans %}Project creation{% endtrans%}</h1>
    
    <form action="{{ path('sgl_flts_project_create') }}" method="post" {{ form_enctype(form) }}>

        {{ form_widget(form) }}

        <div class="record_submit">
            <input type="submit" class="create" value="{% trans %}flts.button.Confirm create{% endtrans%}" />
        </div>

    </form>

    {% include 'SGLFLTSBundle:Project:Common/record_actions.html.twig' with { 'entity_name': 'project','entity': false } %}
{% endblock %}
