{% extends 'SGLFLTSBundle:FrequentTask:layout.html.twig' %}

{% block content_title %}<h1>{% trans %}Frequent tasks list{% endtrans%}</h1>{% endblock %}

{% block content %}
    {{ parent() }}

    <p class=="text">
        {% trans %}These tasks are added to new project parts automatically.{% endtrans %}
    </p>

    <div class="actions">
        {% include 'SGLFLTSBundle:Theme:Common/list_actions.html.twig' with { 'entity_name': 'frequenttask' } %}
    </div>

    <table class="records_list">
        <thead>
            <tr>
                <th>{% trans %}Name{% endtrans%}</th>
                <th>{% trans %}Updated at{% endtrans%}</th>
                <th>{% trans %}Actions{% endtrans%}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td class="string">{{ entity.fullname }}</td>
                <td class="date">{% if entity.updatedat %}{{ entity.updatedat|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td class="actions">
                    {% include 'SGLFLTSBundle:Theme:Common/list_record_actions.html.twig' with { 'entity_name': 'frequenttask','entity': entity } %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p>
        <strong>{{ entities|length }} {% trans %}frequent tasks{% endtrans%}</strong>
    </p>

    <div class="actions">
        {% include 'SGLFLTSBundle:Theme:Common/list_actions.html.twig' with { 'entity_name': 'frequenttask' } %}
    </div>
{% endblock %}