{% extends 'SGLFLTSBundle:Rate:layout.html.twig' %}

{% block content %}

    <h1>{% trans %}Rates list{% endtrans%}</h1>

    <div class="actions">
        {% include 'SGLFLTSBundle:Theme:Common/list_actions.html.twig' with { 'entity_name': 'rate' } %}
    </div>

    <table class="records_list">
        <thead>
            <tr>
                <th>{% trans %}Name{% endtrans%}</th>
                <th>{% trans %}Rate{% endtrans%}</th>
                <th>{% trans %}Actions{% endtrans%}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td class="string">{{ entity.name }}</td>
                <td class="string">{{ entity.rate }}</td>
                <td class="actions">
                    {% include 'SGLFLTSBundle:Theme:Common/list_record_actions.html.twig' with { 'entity_name': 'rate','entity': entity } %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p>
        <strong>{{ entities|length }} {% trans %}rates{% endtrans%}</strong>
    </p>

    <div class="actions">
        {% include 'SGLFLTSBundle:Theme:Common/list_actions.html.twig' with { 'entity_name': 'rate' } %}
    </div>
{% endblock %}